@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --darkViolet: #150e28;
    --lightViolet: #903aff;
    --brightMagenta: #d434fe;
}
body {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grad-text {
    background: linear-gradient(to left, #f344b9, var(--lightViolet));
    background-clip: text;
}
.grad-text a {
    color: transparent;
}
